@import "mixins";
@import "bootstrap";

body {
  cursor: default;
  overflow-y: scroll;
  font-family: 'PT Sans', sans-serif;
}

footer {
  .navbar {
    min-height: 25px;
    max-height: 25px;
    text-align: center;

    .navbar-nav {
      float: none;

      &> li {
        float: none;
        display: inline-block;

        > a {
          padding: 0 10px;
          line-height: 25px;
          font-size: 11px;

          .fa {
            position: relative;
            top: 1px;
            margin-right: 3px;
            font-size: 14px;
            color: #999999;
          }

          &:hover {
            color: #3399f3;

            .fa {
              color: #337bd5;
            }
          }
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h5 {
  &:first-of-type {
    margin-top: 10px;
  }
}

blockquote {
  h1, h2, h3, h4, h5, h5 {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

#container {
  margin-top: 50px;
  margin-bottom: 30px;
}
